@import url('https://fonts.googleapis.com/css2?family=The+Nautigal:wght@700&display=swap');
html {
    height: 101%;
}

body,
ul {
    padding: 0px;
    margin: 0px;
}

body {
    background-image: url("../images/body-background.jpg");
    background-repeat: repeat-y;
    background-size: 100%;
}

header {
    width: 100%;
    height: 550px;
    border-bottom: 3px solid #ff0066;
}


/* title  */

#title-box {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 120px;
    width: 400px;
    height: 400px;
    background-color: #fff;
    border: 3px solid #ff0066;
    border-radius: 50%;
    z-index: -1;
}

#title {
    color: #ff0066;
    position: relative;
    top: 120px;
    font-family: 'The Nautigal', cursive;
    font-size: 78px;
}

#sub-title {
    position: relative;
    top: 90px;
    /* padding-left: auto;
    padding-right: auto; */
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
}


/* header and title adjustment */

@media screen and (max-width: 1000px) {
    header {
        height: 500px;
        left: 0;
    }
    #title-box {
        width: 350px;
        height: 350px;
    }
    #title {
        font-size: 68px;
        top: 110px;
    }
    #sub-title {
        font-size: 20px;
    }
}

@media screen and (max-width: 800px) {
    header {
        height: 400px;
    }
    #title-box {
        top: 90px;
        width: 300px;
        height: 300px;
    }
    #title {
        font-size: 58px;
        top: 100px
    }
    #sub-title {
        font-size: 20px;
    }
}

@media screen and (max-width: 600px) {
    header {
        height: 300px;
    }
    #title-box {
        top: 90px;
        width: 200px;
        height: 200px;
    }
    #title {
        font-size: 38px;
        top: 70px;
    }
    #sub-title {
        font-size: 10px;
        top: 58px;
    }
}


/* Main Navigation */

#navButton {
    color: #000;
    display: none;
    margin-left: 200px;
}

nav {
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
    top: 0px;
    height: 80px;
    width: 100%;
}

nav ul {
    position: absolute;
    right: 10%;
    top: 20px;
    z-index: 10;
}

nav ul li {
    display: inline-block;
    width: 150px;
    height: 30px;
    margin-right: 5px;
    padding-top: 5px;
    text-align: center;
}

nav ul li:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

nav ul li a {
    color: #000;
    line-height: 25px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 25px;
}

.current-link {
    border-bottom: 2px solid #ff0066;
}

a:active {
    color: #ff0066;
}

.logout-btn {
    margin-bottom: 5px;
}


/* errors */

.form-error {
    width: 100%;
    border: 1px solid red;
    border-radius: 5px;
    background-color: rgba(235, 90, 90, 0.8);
}


/* main content */

section {
    background-color: rgba(255, 255, 255, 0.8);
}

img {
    width: 100%;
    border: 1px solid black;
}

.product-row {
    margin-top: 10px;
}

.product-box {
    background-color: white;
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #ff0066;
}

.categories-box {
    border-left: 1px solid black;
    text-align: center;
}

.form-box {
    background-color: rgba(255, 255, 255, 0.8);
    margin: 10px 0 10px 0;
    padding: 10px;
}

.form-group {
    margin: 5px 0 5px 0;
}


/* Sign up form */

.form-group small {
    position: relative;
    top: -10px;
    visibility: hidden;
}

.form-group.error small {
    visibility: visible;
    border: 1px solid red;
    padding: 2px;
    border-radius: 2px;
}


/* Footer */

footer {
    width: 100%;
    height: 100px;
    position: relative;
    bottom: 0px;
    background-color: #264653;
    text-align: center;
}

footer a {
    height: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
    margin-right: 5px;
    color: #fff;
}

footer a:hover {
    color: #cc0;
}

footer a:active {
    color: aqua;
}

footer address {
    color: #fff;
    margin-top: 15px;
}


/* tablet */

@media screen and (max-width: 1150px) {
    /* responsive navigation */
    #navButton {
        display: block;
        position: relative;
        top: 20px;
        margin-left: 10%;
    }
    .navHide {
        display: none;
    }
    nav {
        top: 0px;
        width: 100%;
        margin-left: 0px;
    }
    nav ul li {
        width: 100%;
        height: 50px;
        background-color: #2f3036;
    }
    nav ul li a {
        display: inline-block;
        width: 100%;
        color: #fff;
        text-decoration: none;
        text-align: justify;
    }
    nav ul li a:hover {
        background-color: #636572
    }
    .formBox {
        margin-left: 0px;
    }
    .submitBox {
        text-align: right;
        padding-right: 10%;
    }
    #feedback h2,
    #contact h2,
    #contact h4 {
        padding-left: 10px;
    }
}


/* mobile */

@media screen and (max-width: 480px) {
    /* main navigation */
    #navButton {
        font-size: 0.7em;
    }
}